body {
    width: 99%;
    height: 90vh;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
center {
    background: #fff;
    box-shadow: 0 0 56px rgba(0,0,0,0.2);
    border-radius: 40px;
    width: 30vw;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
form {

    width: 44vw;
    height: 40vh;
    margin-top: 5vh;
}
input {
    box-shadow: 0 0px 28px rgba(0,0,0,0.25), 0 0px 20px rgba(0,0,0,0.22);
    border: none;
    border-radius: 21px;
    padding: 2vh 1vw;
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 3vh;
}
#button {
    font-size: 2.3em;
    padding: 2vh 4vw;
    font-weight: bold;
    color: #fff;
    background: #15eded;
    box-shadow: 29vw 0 8vw -25vw #029cf5 inset;
    animation: animaher 3s infinite alternate;
    transform: scale(1);

    transition: .4s;
}
#button:hover {
    animation: animaher 3s infinite alternate, animhover 1s ease;
    transform: scale(0.9);
}
@keyframes animaher {
    50% {
        background: #029cf5;
        box-shadow: 50vw 0 4vw -25vw #15eded inset;
    }
}
@keyframes animhover {
    45% {
        transform: scale(1.1);
    }
    90% {
        transform: scale(0.8);
    }
}
textarea {
    resize: none;
    padding: 1vh;
    border-radius: 10px;
    box-shadow: 0 0px 28px rgba(0,0,0,0.25), 0 0px 20px rgba(0,0,0,0.22);
    border: none;
}
p {
    width: 20vw;
    margin-top: -3vh;
    color: gray;
}
#btn {
    transition: .5s;
}
#btn:hover {
    transform: scale(0.9);
}