*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}
a {
    color: gray;
}
*::selection{
    background-color:#f4e08c;
}
body {
    font-size: 14px;
    margin: 0px;
    color: #333;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    width: 100%;
    border-bottom: 1px solid #dad2d2;
    background: #66339905;
}
.modlogo {
    width: 100%;
}
.headerin{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logohead{
    width: 7%;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}
.logohead:hover .body{
    background: #333333;
}
.navhead {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.navhead .navlink::before{
    content: '';
    bottom: 0;
    height: 2px;
    background-color: #6d73c1;
    left: 0;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    transition: .3s;
}
.navhead .navlink:hover:before{
    transform: scaleX(1);
}
.navlink:hover{
    color: #6d73c1;
}
.navlink {
    padding-bottom: 4px;
    position: relative;
    vertical-align: top;
    margin: 0 25px;
    color: #6f6f6f;
    text-decoration: none;
    transition: color .2s linear;
}
.activelink{
    color: #6d73c1;
}
.allform {
    display: flex;
    justify-content: center;
}

.button {
    font-size: 1.3em;
    padding: 3vh 5vw;
    margin-bottom: 0vh;
    margin-top: 3vh;
    color: #fff;
    background: #15eded;
    box-shadow: 29vw 0 8vw -25vw #029cf5 inset;
    animation: animaher 3s infinite alternate;
    transition: .4s;
    border: none;
    border-radius: 21px;
    font-weight: bold;
}
input {
    box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 0px 20px rgba(0,0,0,0.22);
    border: none;
    border-radius: 21px;
    padding: 2vh 0.2vw;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 4vh;
}
.button:hover {
    transform: scale(0.89);
}
@keyframes  animaher{
    50% {
        background: #029cf5;
        box-shadow: 50vw 0 4vw -25vw #15eded inset;
    }
}
.justpadding {
    margin-left: 3vw;
}
.btn {
    display: flex;
    justify-content: center;
}
span {
    font-size: 1.3em;
    display: inline-block;
}
h1 {
    margin: 5vh 0 5vh 0;
}
.namesinpt {
    transition: .3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.25), 0 0px 10px rgba(0,0,0,0.1);
    border-radius: 1px;
    padding: 0;
}
.namesinpt:hover {
    transform: scale(0.98);
}
p {
    font-size: 1.4em;
    font-family: cursive;
}
.center {
    margin-bottom: 10vh;
}
center {
    margin-bottom: 10vh;
}